<h3>Fan Show Page</h3>


Fan Name:
<h1><%= @fan.name %></h1>

Fan Location:
<h2><%= @fan.location %></h2>

Fan Picture:
<img src= <%= @fan.profile_image_url %> >

<%= image_tag fan.profile_image_url %>